<br />
<%= link_to "New File", new_file_item_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @file_items.each do |file| %>
      <tr>
        <td><%= file.name %></td>
        <td><%= link_to "Download", file.attachment_url %></td>
        <td><%= button_to "Delete",  file, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{file.name}?" %></td>
      </tr>
  <% end %>
  </tbody>
</table>