<% provide(:title, "Home") %>

<h1 class="center jumbotron">Welcome to Oblak</h1>
<h2>This is the home page of Project Oblak</h2>

<%= link_to "Register", signup_path, class: "btn btn-lg btn-primary" %>
